.App {
  width: 700px;
  height: 300px;
  background-color: #86a3be;
  justify-content: center;
}


.Board {
  height: 100%;
  width: 100%;
  display: flex;
}

.Board > * { 
  flex: 1 0 auto;
}

.Column {
  display: flex;
  flex-direction: column;
}

.Cell {
  flex: 1 0 auto;
  border-right: solid #c4d8e5 10px;
  border-bottom: solid #c4d8e5 10px;
}

.Board:not([playing]) .Cell:hover {
  background-color: white;
}

.Cell[clicked] { 
  background-color: #e0edf4;
}

.Cell[played] { 
  background-color: #abc1d4;
}

.Controls {
  margin-top: 10px;
  height: 50px;
  width: 50%;
  margin-left: 50%;
  background-color: #86a3be;

  display: flex;

}

.Controls button {
  width: 100%;
  margin: 5px;
  flex: 1 1 auto;
}

/* .Board .Column {
  height: 100%;
} */